@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Pinyon+Script|Rochester');
/* layout */
:root {
  --primary: #ac1a1a;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: rgb(247, 63, 63);
}
header .container {
  max-width: 1550px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.course-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}
.course-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.course-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.course-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}
/* subtitle-details */
.subtitle-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}
.subtitle-details h4 {
  margin: 0 0 10px 0;
  font-size: 1em;
  color: rgb(77, 195, 170);
}
.subtitle-details p {
  margin: 0;
  font-size: 0.7em;
  color: #555;
}
.subtitle-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

/* new workout form */
label,
input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
input.termsandconditions {
  margin-left: -380px;
}

button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
.topnav input[type="text"] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
/* Search page */
.search-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}
.search-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.search-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.search-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

.same {
  display: inline-block;
}
.test iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  object-fit: cover;
}
.test div {
  width: 100%;
  height: 100%;
}
.slick-prev:before,
.slick-next:before {
  color: #a00407 !important;
}
.slick-slider {
  width: 300px !important;
}

.pgntn {
  margin-top:50px
}
.pgntn ul{
  justify-content:center;
}
.preveiw {
  width:200px
}


@import url("https://fonts.googleapis.com/css?family=Open+Sans|Pinyon+Script|Rochester");
 .cursive {
	 font-family: "Pinyon Script", cursive;
}
 .sans {
	 font-family: "Open Sans", sans-serif;
}
 .bold {
	 font-weight: bold;
}
 .block {
	 display: block;
}
 .underline {
	 border-bottom: 1px solid #777;
	 padding: 5px;
	 margin-bottom: 15px;
   text-align: center;
   margin: auto !important;
   width: 66.66666667%;
}
 .margin-0 {
	 margin: 0;
}
 .padding-0 {
	 padding: 0;
}
 .pm-empty-space {
	 height: 40px;
	 width: 100%;
}

 .pm-certificate-container {
	 position: relative;
	 width: 800px;
	 height: 500px;
	 background-color: #618597;
	 padding: 30px;
	 color: #333;
	 font-family: "Open Sans", sans-serif;
	 box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	/*background: -webkit-repeating-linear-gradient( 45deg, #618597, #618597 1px, #b2cad6 1px, #b2cad6 2px );
	 background: repeating-linear-gradient( 90deg, #618597, #618597 1px, #b2cad6 1px, #b2cad6 2px );
	*/
}
 .pm-certificate-container .outer-border {
	 width: 700px;
	 height: 500px;

	
	 border: 2px solid #fff;
}
 .pm-certificate-container .inner-border {
	 width: 730px;
	 height: 530px;

	 border: 2px solid #fff;
}
 .pm-certificate-container .pm-certificate-border {
	 position: relative;
	 width: 720px;
	 height: 520px;
	 padding: 0;
	 border: 1px solid #e1e5f0;
	 background-color: rgba(255, 255, 255, 1);
	 background-image: none;


}
 .pm-certificate-container .pm-certificate-border .pm-certificate-block {
	 width: 650px;
	 height: 200px;


	
}
 .pm-certificate-container .pm-certificate-border .pm-certificate-header {
	 margin-bottom: 10px;
}
 .pm-certificate-container .pm-certificate-border .pm-certificate-title {
	 position: relative;

}
 .pm-certificate-container .pm-certificate-border .pm-certificate-title h2 {
	 font-size: 34px !important;
   text-align: center;
}
 .pm-certificate-container .pm-certificate-border .pm-certificate-body {
	 padding: 20px;
}
 .pm-certificate-container .pm-certificate-border .pm-certificate-body .pm-name-text {
	 font-size: 20px;
   text-align: center;
}
 .pm-certificate-container .pm-certificate-border .pm-earned {
	 margin: 15px 0 20px;
}
 .pm-certificate-container .pm-certificate-border .pm-earned .pm-earned-text {
	 font-size: 20px;
   text-align: center;

}
 .pm-certificate-container .pm-certificate-border .pm-earned .pm-credits-text {
  text-align: center;
	 font-size: 15px;
}
 .pm-certificate-container .pm-certificate-border .pm-course-title .pm-earned-text {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
	 font-size: 20px;
   
}
 .pm-certificate-container .pm-certificate-border .pm-course-title .pm-credits-text {
	 font-size: 15px;
}
 .pm-certificate-container .pm-certificate-border .pm-certified {
	 font-size: 12px;
   text-align: center;
}
 .pm-certificate-container .pm-certificate-border .pm-certified .underline {
	 margin-bottom: 5px;
   text-align: center;
}
 .pm-certificate-container .pm-certificate-border .pm-certificate-footer {
	 width: 650px;
	 height: 100px;

	 

}
 
